<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>

<body>
    <%- include('navbar') %>
    <div class="welcome">
        <h2>Welcome to AC Server</h2>
        <p>A private place to discuss competitive programming </p>
    </div>

    <div class="messagesContainer">
        <%rows.map(row => {%>
            <div class="message">
                <p><%=row.message%></p>
                <div>
                    <span>
                        by
                        <%if (locals.membership_status === true) {%>
                            
                            <b><i><%=row.firstname%></i></b>
                        <%} else {%>
                            
                            <b><i>anonymous</i></b>
                        <%}%>
                    </span>
                    <span>
                        on
                        <%=row.timestamp%>
                    </span>
                </div>
            </div>
        <%});%>
    </div>
    <%- include('footer') %>
</body>

</html>